MONGO_URI="mongodb+srv://mappypals:ZozaDZQ7FDKmZZIq@mappypals-hzxcd.mongodb.net/test?retryWrites=true"
JWT_SECRET="w23Q$8$7sK$aQod83YQv2#29vOV2#0V"
EMAIL_ADDRESS="team.mappypals@gmail.com"
EMAIL_PASSWORD="mappypalsadmin"
FRONT_END_URL="https://mappypals.herokuapp.com"